/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

/* set style of the legend  */
.legend {
	line-height: 18px;
  color: black;
  background: white;
  border: 2px solid gray;
  font-weight: bold;
  width: 50px;
  line-height: 20px;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
  margin-right: 8px;
  margin-left: 2px;
  opacity: .75;
}


